<form method="post" action="/task/add">
  <label for="">Add Task</label>
  <input type="text" name="task" placeholder="Add task" />
  <input type="submit" value="Submit" />
</form>

<%= title %>

<form method="post" action="/task/delete">
  <ul class="task-list">
    <% tasks.forEach((task)=>{ %>
    <li>
      <label>
        <input
          type="checkbox"
          name="tasks"
          class="del"
          value="<%= task %>"
        /><span><%= task %></span>
      </label>
    </li>

    <% }) %>
  </ul>
  <input type="submit" value="Remove" />
</form>

<h3>Next buisness call</h3>
Name : <%= call.name %> <br />
Company : <%= call.company %> <br />
Phone :<%= call.phone %> <br />
Time : <%= call.time %> <br />

<h3>Edit Next Call</h3>
<form action="/call/add" method="POST">
  <label for="">Contact Name</label>
  <input type="text" name="name" placeholder="Task Name" />
  <br />
  <br />
  <label for="">Company</label>
  <input type="text" name="company" placeholder="Company" />
  <br />
  <br />
  <label for="">Phone</label>
  <input type="text" name="phone" placeholder="Phone" />
  <br />
  <br />
  <label for="">Day and Time</label>
  <input type="text" name="time" placeholder="Time" />
  <br />
  <br />
  <input type="submit" value="submit" />
</form>
